<h2>Application Form</h2>
  <form action="/job/{{job['id']}}/apply">
    <div class="mb-2">
      <label>Full Name</label><br>
      <input type="text" name="full_name" placeholder="Full Name"">
    </div>

    <div class="mb-2">
      <label>Email</label><br>
      <input type="text" name="email" placeholder="Email@email.com"">
    </div>
    
    <div class="mb-2">
      <label>LinkedIn URL</label><br>
      <input type="text" name="linkedin" placeholder="https://linkedin.com"">
    </div>
    

    <input type="submit" name="submit">
  </form>